body {
font-size: 18px;
color: white;
display:block;
}
header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 0px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width : 960px;
  height: auto;
}
.image1 {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}
.title {
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  font-family: Helvetica;
  font-size: 1rem;
}
.image2 {
  display: flex;
  width: 100%;
  align-items: center;
  height:25rem;
  margin:0px;
  background-image: url(../images/moto.jpeg); width: 1080; height: 720px;
  background-size: cover;
}
.sport {
  background-color: black;
  min-width: 20rem;
  height: auto;
  margin-top: 9rem;
  position: relative;
  font-weight: bold;
  font-family: Helvetica;
  text-align:left;

}
#new {
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 0.25em;
  font-size: 1rem;
}
#bike {
  font-size: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
}
nav {
  align-content: center;
  background-color: firebrick;
  margin-top: 0px;
  width: 100%;
  height: auto;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
li {
  width: 100%;
  display: inline;
  list-style: none;
}

ul  {
  display: flex;
  margin: 0px;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: space-between;

}
.middle {
  display:flex;
  height:auto;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  }
  .box {
    width: 30%;
    height: auto;
    border: 4px solid black;
    margin: 3rem;
    align-content: center;
    flex-direction: column;
  }
  .images {
    border: 4px solid black;
    padding: 2em 0;
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #description {
    text-align: center;
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
.bottom {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  overflow: hidden;
}
.tag {
  width:35%;
}
.tag .location {
  padding: 1rem 2rem;
  display: block;
  background-color: black;
}
#number {
  color: black;
}
footer {
  margin-top: 4rem;
  background-color: black;
  text-align: left;
  height: 5rem;
  padding: 4em;
}

@media only screen and (max-width: 1024px) {
  .box {
    width: 47%;
    display:inline-table;
    overflow: hidden;
    margin-left: 0%;
    }
body {
  font-size: 16px;
}
footer {
  padding-left: 0%;
}
nav ul {
  display: none;
}
.bottom {
  margin-left: 0%;
}
.appear {
  display: block;
  text-align: center;
}
}
@media only screen and (min-width: 1024px) {
  .sport {
    margin-left: 9rem;
  }
  .appear {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .title {
    display: none;
  }
  .logo {
    justify-content: center;
  }
  footer {
    text-align: center;
  }
  .box {
    width: 90%;
    display:inline-table;
    overflow: hidden;
    margin-left: 0%;
    }
    

}
